* {
    font-family: 'Exo', sans-serif;
}

.btn-white {
    background-color: transparent;
    color: white;

    padding: 1.25vh 1.25vw;

    border-color: white;
    border-style: solid;
    border-radius: 15px;
}

.btn-white:hover {
    background-color: white;
    color: #520252;
    font-weight: bolder;
    transition: 0.2s;
}

.btn-white-alt {
    background-color: transparent;
    color: white;

    padding: 1.25vh 1.25vw;

    border-color: white;
    border-style: solid;
    border-radius: 15px;
}

.btn-white-alt:hover {
    background-color: white;
    color: #520252;

    font-weight: bolder;

    transition: 0.2s;
}

.btn-modal {
    background-color: white;
    color: #520252;

    padding: 1.25vh 1.25vw;

    font-weight: bold;
    border-color: #520252;
    border-style: solid;
    border-radius: 15px;
}

.btn-modal:hover {
    background-color: #520252;
    color: white;
    transition: 0.2s;
}